@model ProductCreateCommand



@{ Layout = "_LayoutStore"; }




<div class="product-add-div">
    <h3 class="add-prdct-h3">Elan əlavə et</h3>
    <form asp-controller="account" asp-action="addingProduct" class="product-add-form" method="post" enctype="multipart/form-data">
        <div class="product-detail-content">
            <div class="product-detail-header">
                <label>Elan başlığı</label>
            </div>
            <div class="product-deatil-it">
                <input asp-for="Name" type="text" class="add" name="Name" id="" maxlength="50" />
            </div>
        </div>
        <div class="product-detail-content">
            <div class="product-detail-header">
                <label>Kateqoriya</label>
            </div>
            @*<details class="custom-select type">*@

            <select class="form-select" name="Kateqoriya" asp-for="Kateqoriya">
                <option disabled>Kateqoriya secimi</option>

                @foreach (var item in ViewBag.Category)
                {
                    <option>@item.Name</option>
                }

            </select>

            @*<summary class="radios">
                <input type="radio"
                       name="item-type"
                       id="default"
                       title-type="Nov"
                       checked />
                <input type="radio"
                       name="item-type"
                       id="item1"
                       title-type="Sep" />
                <input type="radio"
                       name="item-type"
                       id="item2"
                       title-type="Uzuk" />
                <input type="radio"
                       name="item-type"
                       id="item3"
                       title-type="Qolbaq" />
                <input type="radio"
                       name="item-type"
                       id="item4"
                       title-type="Dest" />
                <input type="radio"
                       name="item-type"
                       id="item5"
                       title-type="Lorem" />
            </summary>
            <ul class="selector-list">
                <li>
                    <label class="selector-label" for="item1">Sep</label>
                </li>
                <li>
                    <label class="selector-label" for="item2">Uzuk</label>
                </li>
                <li>
                    <label class="selector-label" for="item3">Qolbaq</label>
                </li>
                <li>
                    <label class="selector-label" for="item4">Dest</label>
                </li>
                <li>
                    <label class="selector-label" for="item5">Lorem</label>
                </li>
            </ul>*@
            @*</details>*@
        </div>
        <div class="product-detail-content" id="addFormProb">
            <div class="product-detail-header">
                <label>Əyyar</label>
            </div>

            @*<div class="product-deatil-it">*@

            <div class="form-group" style="display:flex; flex-direction:column;">
                <label name="Tags" class="control-label">Əyar seçimi</label>
                <select class="control-label tags" name="EyarIds" multiple id="tags" asp-items="ViewBag.Eyar">
                </select>
            </div>


            @*<details class="custom-select add-degree">
                <summary class="radios">
                    <input type="radio"
                           name="title-add-degree"
                           id="default"
                           title-add-degree="Əyyar"
                           checked />
                    <input type="radio"
                           name="title-add-degree"
                           id="item71"
                           title-add-degree="583" />
                    <input type="radio"
                           name="title-add-degree"
                           id="item72"
                           title-add-degree="585" />
                    <input type="radio"
                           name="title-add-degree"
                           id="item73"
                           title-add-degree="750" />
                    <input type="radio"
                           name="title-add-degree"
                           id="item74"
                           title-add-degree="916" />
                    <input type="radio"
                           name="title-add-degree"
                           id="item75"
                           title-add-degree="Digər" />
                </summary>
                <ul class="selector-list">
                    <li>
                        <label class="selector-label" for="item71">583</label>
                    </li>
                    <li>
                        <label class="selector-label" for="item72">585</label>
                    </li>
                    <li>
                        <label class="selector-label" for="item73">750</label>
                    </li>
                    <li>
                        <label class="selector-label" for="item74">916</label>
                    </li>
                    <li>
                        <label class="selector-label" for="item75">Digər</label>
                    </li>
                </ul>
            </details>*@
            @*</div>*@
        </div>
        <div class="product-detail-content" id="addFormProb">
            <div class="product-detail-header">
                <label>Qızıl rəngi : </label>
            </div>

            <div class="product-deatil-it">

                <div class="form-group" style="display:flex; flex-direction:column;">
                    <label name="Tags" class="control-label">Qızıl rəngi</label>
                    <select class="control-label tags" name="ColorIds" multiple id="tags" asp-items="ViewBag.Color">
                    </select>
                </div>



                @*<details class="custom-select add-color">
            <summary class="radios">
                <input type="radio"
                       name="title-add-colour"
                       id="default"
                       title-add-colour="Qızıl rəngi"
                       checked />
                <input type="radio"
                       name="title-add-colour"
                       id="item91"
                       title-add-colour="Ağ" />
                <input type="radio"
                       name="title-add-colour"
                       id="item92"
                       title-add-colour="Sarı" />
                <input type="radio"
                       name="title-add-colour"
                       id="item93"
                       title-add-colour="Rose" />
                <input type="radio"
                       name="title-add-colour"
                       id="item95"
                       title-add-colour="Digər" />
            </summary>
            <ul class="selector-list">
                <li>
                    <label class="selector-label" for="item91">Ağ</label>
                </li>
                <li>
                    <label class="selector-label" for="item92">585</label>
                </li>
                <li>
                    <label class="selector-label" for="item93">Rose</label>
                </li>

                <li>
                    <label class="selector-label" for="item95">Digər</label>
                </li>
            </ul>
        </details>*@
            </div>
        </div>
        <div class="product-detail-content" id="addFormWeight">
            <div class="product-detail-header">
                <label>Çəki</label>
            </div>
            <div class="product-deatil-it">
                <input asp-for="Weight" type="number" name="Weight" id="" class="add" /><label class="detail-form">
                    ,qram
                </label>
            </div>
        </div>
        <div class="product-detail-content">
            <div class="product-detail-header">
                <label>
                    <input asp-for="HasDiamond" type="checkbox"
                           name="HasDiamond"
                           id="diamonCheck"
                           onclick="EnableDisableTextBox(this)" />
                    Brilliant
                </label>
            </div>
            <div class="product-deatil-it">
                <input asp-for="CountDiamond" type="number"
                       name="CountDiamond"
                       id="addDiamondCount"
                       class="add"
                       disabled="disabled" /><label class="detail-form"> ,ct</label>
            </div>
        </div>

        <div class="product-detail-content">
            <div class="product-detail-header">
                <label>Ətraflı məlumat</label>
            </div>
            <div class="product-deatil-it">
                <textarea asp-for="aboutProduct" name="aboutProduct" id="" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div class="product-detail-content">
            <div class="product-detail-header">
                <label>Qiymət</label>
            </div>
            <div class="product-deatil-it">
                <input asp-for="Price" type="number" name="Price" id="" /><label class="detail-form">
                    ,AZN
                </label>
            </div>
        </div>

        @*<div class="add-img-ads">
            <label for="images" class="drop-container">
                <span class="drop-title">Şəkil əlavə et</span>
                (max : 12)

                <input type="file"
                       class="file-field"
                       id="images"
                       accept="image/*"
                       multiple
                       required />
            </label>
            <div class="add-img-container">

            </div>
        </div>*@
        <div class="add-prdct-btn-div">
            <input type="submit" value="Elani əlavə et" class="add-prdct-btn">
        </div>
    </form>
    
</div>



@*@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {

            $('#tags').val([@string.Join(",",Model.EyarsCloud.Select(tc=>tc.EyarId))]);

        });

    </script>
}*@