@model MainViewModel
@{
    ViewData["Title"] = "AboutUs";
}

<div class="aboutus-content">

    <div class="sidenav-aboutus">
      <ul>
          <table>
              <tr >
                  <td>
  
                      <li><a asp-controller="HomePage" asp-action="Questions">Ən çox verilən suallar</a></li>
                  </td>
              </tr>
              <tr>
                  <td>
  
                      <li><a asp-controller="HomePage" asp-action="Rules">Qaydalar</a></li>
                  </td>
              </tr>
              <tr>
                  <td>
  
                      <li><a asp-controller="HomePage" asp-action="Cookies">İstifadəçi razılaşması</a></li>
                  </td>
              </tr>
              <tr>
                  <td>
  
                      <li><a asp-controller="HomePage" asp-action="Privacy">Məxfilik</a></li>
                  </td>
              </tr>
              <tr >
                  <td>
  
                      <li><a asp-controller="HomePage" asp-action="Services">Xidmətlər</a></li>
                  </td>
              </tr>
              <tr class="selected">
                  <td>
                      <li><a asp-controller="HomePage" asp-action="AboutUs">Haqqımızda</a></li>
                  </td>
              </tr>
              <tr>
                  <td>
  
                      <li><a asp-controller="HomePage" asp-action="Offers">Paketlər</a></li>
                  </td>
              </tr>
  
          </table>
  
      </ul>
    </div>
    <div class="text-content">
      <h2>Some text</h2>
      <h3>Some subtitles</h3>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      

      <h3>Some subtitles</h3>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      
      <h3>Some subtitles</h3>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>        <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      
      <h3>Some subtitles</h3>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      <p><b>1 .1</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum nisi rerum magnam animi totam. Neque ducimus repellendus distinctio accusantium aliquam eius totam inventore libero, ipsam dolorem in magnam laboriosam. </p>
      

    </div>
</div>

